body {
  background-color: rgb(65, 60, 60);
  z-index: 2;
}

.container {
  margin-top: 50px;
  position: relative;
}

.menuContainer {
  position: absolute;
  right: 50px;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.hamburger {
  width: 40px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}

.line1,
.line2,
.line3,
.overLayMenu {
  transition: all 0.5s ease-in-out;
}

.hideLine2 {
  opacity: 0;
}

.plus45Deg {
  transform: rotate(45deg) translate(4px, 8px);
}

.minus45Deg {
  transform: rotate(-45deg) translate(4px, -8px);
}

.overLayMenu {
  width: 100vw;
  height: 100vh;
  background-color: #042a2b;
  position: absolute;
  top: 0px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.opacity1 {
  opacity: 1;
}

li {
  color: yellow;
  font-size: 30px;
  padding: 5px;
  list-style: none;
  text-decoration: #042a2b;
  transition: transform 0.5s ease-in-out;
  user-select: none;
  cursor: pointer;
}

li:hover {
  opacity: 0.5;
}

.moveLiTags {
  transform: translateY(-5px);
}
